.collapsible2 {
	border: 1px solid #ccc;
 	padding: .7em 35px;
	font-size: 1em;
	margin-top: 0;
	background-color: #fff;
	margin-bottom: 0;
	cursor: pointer;
	width: 250px;
	background: url(img/tri-down.png) 260px 50% no-repeat;
}
@media only screen and (min-width: '20em') and (max-width:'20em') {
	.collapsible2 {
		margin-bottom: 0;
		cursor: pointer;
		width: 200px;
		background: url(img/tri-down.png) 210px 50% no-repeat;
	}

}
@media only screen and (min-width: '34.375em' and max-width:'76.8em') {
	.collapsible2 {
		margin-bottom: 0;
		cursor: pointer;
		width: 400px;
		background: url(img/tri-down.png) 410px 50% no-repeat;
	}
	
}
@media only screen and (min-width: '76.7em' and max-width:'102.4em') {
	.collapsible2 {
		margin-bottom: 0;
		cursor: pointer;
		width: 600px;
		background: url(img/tri-down.png) 610px 50% no-repeat;
	}

}
@media only screen and (min-width: '22.4em') {
	.collapsible2 {
		margin-bottom: 0;
		cursor: pointer;
		width: 750px;
		background: url(img/tri-down.png) 760px 50% no-repeat;
	}

}
	

.collapsible-header:focus {
	background-color: #eee;
}
.collapsible-collapsed .collapsible-header {
	background-image: url(img/tri-right.png);
}