* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #242b48;
    text-align: center;
    padding: 80px 0;
}
p {
    font-size: 14px;
}
span {
    color: #a7a6ab;
    font-size: 13px;
}
input {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #eff1f5;
    border-radius: 8px;
    outline: none;
    margin-right: 5px;
}

.form-submit {
    background-color: #58cebe;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    border-color: #58cebe;
    cursor: pointer;
    margin-top:40px;
}
.form-submit:hover {
    background-color: #48bab2;
    border-color: #48bab2;
}
.form-container-button {
    margin-top: 50px;
}
.dropdown-disabled {
    opacity: 0.6;
    pointer-events: none;
    width:50px;
    height:30px;
}
.dropdown-enabled {

    width:50px;
    height:30px;
}
.room {
    width: 22%;
    float: left;
    margin: 0 1%;
    padding: 15px;
    border-radius: 8px;
}
.room h5 {
    text-align: left;
    position: relative;
}
.room h5 span {
    position: absolute;
    right: 0;
    font-weight: normal;
    color: rgba(0,0,0,.4);
}
.room-dropdown {
    float: left;
    width: 50%;
    background-color: white;
    padding: 20px;
}
.disabled-room {
    background-color: #f5f5f5;
    
}
.enabled-room {
    background-color: #fee6f3;
}
